@model MyInvest.Presentation.Mvc.ViewModels.TipoInvestimentoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
<p>@ViewBag.Message</p>
<br />

<div class="form-control">
    @Html.LabelFor(m => m.CodTipoInvestimento)
    @Html.HiddenFor(m => m.CodTipoInvestimento)
    @Html.DisplayTextFor(m => m.CodTipoInvestimento)
</div>

<div class="form-control">
    @Html.LabelFor(m => m.Descricao)
    @Html.HiddenFor(m => m.Descricao)
    @Html.DisplayTextFor(m => m.Descricao)
</div>

<div class="form-control">
    @Html.LabelFor(m => m.DataCadastro)
    @Html.HiddenFor(m => m.DataCadastro)
    @Html.DisplayTextFor(m => m.DataCadastro)
</div>

<div class="form-control">
    <button id="Confirm" class="btn btn-primary">Sim</button>
    <button id="Cancel" class="btn btn-secondary">Não</button>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#Confirm').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ConfirmaExclusaoTipoInvestimento", "Parametrizacao")',
                    data: {'id': @Model.CodTipoInvestimento},
                    success: function(data) {
                        if (data) {
                            alert('Exclusão realizada.');
                            window.location.href = '@Url.Action("TipoInvestimento", "Parametrizacao")';
                        } else {
                            alert('Erro ao excluir. Tente novamente mais tarde.');
                            window.location.href = '@Url.Action("TipoInvestimento", "Parametrizacao")';
                        }
                    }
                });
            });

            $('#Cancel').click(function () {
                window.location.href = '@Url.Action("TipoInvestimento", "Parametrizacao")';
            });
        });
    </script>
}
