@model MyInvest.Presentation.Mvc.ViewModels.TipoInvestimentoViewModel

@{
    ViewBag.Title = $"{(Model.CodTipoInvestimento == 0 ? "Novo" : "Editar")} Tipo de Investimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Titulo</h2>
<br />
@using (Html.BeginForm("SalvarTipoInvestimento", "Parametrizacao", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CodTipoInvestimento)
    @Html.HiddenFor(m => m.DataCadastro)

    <div class="form-control">
        @Html.LabelFor(m => m.Descricao)
        @Html.TextBoxFor(m => m.Descricao)
        @Html.ValidationMessageFor(m => m.Descricao)
    </div>
    <div class="form-control">
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
}